/*
	@RobertC 2019
	
	This is the CSS code for the menu which declares
	elements colors, orientation and size!
*/

/* Main container */
#load_menu {
	margin: auto;
	width: 500px;
	height: 55px;
	display: flex;
	flex-wrap: nowrap;
	background-color: #ffe6f2;
	box-shadow: 10px 15px 15px gray;
}

/* Using a class for menu tabs (Home, About, Contact) */
#load_menu > .menu_item {
	margin: 10px;
	width: 500px;
	height: 30px;
	text-align: center;
	font-size: 25px;
	text-shadow: 2px 3px gray;
	color: white;
	box-shadow: 7px 5px 5px gray;
}

/*  Hover behavior */
.menu_item:hover {
	background-color: #e6e6e6;
}
